<h1 class="pb-4">Surprise Recipe! </h1>


<div class="row">
    <div class="col-12 col-md-4">
        <img src="/img/EzMealzPictures/<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px;" alt=" <%- recipe.name %>" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col-12"> <h1><%- recipe.name %> </h1></div>
            <div class="col-12 mb-4"> <i class="bi bi-tag"></i> <%- recipe.category %> </div>
            <div class="col-12" style="white-space: pre-line;">
                <h4>Recipe Description</h4>
                <%- recipe.description %>
            </div>
            <div class="col-12" style="white-space: pre-line;">
                <h4>Recipe Link</h4>
                <a href="<%- recipe.link %>"><%- recipe.link %></a>
            </div>
        </div>
    </div>

    

</div>